{% extends 'layouts/app.html' %}
{% block title %}Добавить файл{% endblock %}
{% block breadcrumbs %}
    <a href="{% url 'admin-catalog' %}" class="breadcrumb-item">Каталог</a>
    <span class="breadcrumb-item active">Добавить файл</span>
{% endblock %}
{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="block">
            <div class="block-header block-header-default">
                <h3 class="block-title">Добавить файл</h3>
                <div class="block-options">
                    <button type="submit" class="btn btn-sm btn-alt-primary"><i class="si si-check mr-5"></i>Сохранить</button>
                </div>
            </div>
            <div class="block-content">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group {% if form.file.errors %}is-invalid{% endif %}">
                            <div class="form-material form-material-primary">
                                <input type="file" name="files" id="{{ form.file.id_for_label }}" multiple class="form-control">
                                <label for="{{ form.file.id_for_label }}">Файл</label>
                            </div>
                            {% for error in form.file.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group {% if form.category.errors %}is-invalid{% endif %}">
                            <div class="form-material form-material-primary">
                                {{ form.category }}
                                <label for="{{ form.category.id_for_label }}">Категория</label>
                            </div>
                            {% for error in form.category.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <label class="css-control css-control-primary css-checkbox">
                            <input type="checkbox" class="css-control-input" name="hide_file_name">
                            <span class="css-control-indicator"></span>Показывать стандартное имя файла</label>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <label class="css-control css-control-primary css-checkbox">
                                <input type="checkbox" name="unprintable_file_name" id="{{ form.unprintable_file_name.id_for_label }}" class="css-control-input">
                                <span class="css-control-indicator"></span>Нецензурное выражение (заменит имя файла на "цензура")
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <label class="css-control css-control-primary css-checkbox">
                                <input type="checkbox" name="is_user_file" id="{{ form.is_user_file.id_for_label }}" class="css-control-input">
                                <span class="css-control-indicator"></span>Создать как пользователький файл
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script>
        $('select#id_category').addClass('form-control');
    </script>
{% endblock %}